{% extends "home.html" %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}
  <div class="login-form">
    <img src="{% static 'img/logo.png' %}">
    <div class="material-textfield m2" dir="ltr">
      <input placeholder=" " type="text">
      <label>الرقم الوظيفي</label>
    </div>
    <div class="material-textfield m2" dir="ltr">
      <input placeholder=" " type="text">
      <label>كلمة المرور</label>
    </div>
    <button class="btn primary" onclick="location.href='/'">تسجيل الدخول</button>
  </div>
{% endblock %}